<h3>Create Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input inputType="text" label="Username" [control]="getFormControl('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="getFormControl('password')"></app-input>
    <app-input inputType="password" label="re-enter Password" [control]="getFormControl('confirmPassword')"></app-input>
    <div *ngIf="authForm.errors" class="ui red basic label">
        <p *ngIf="authForm.errors.passwordDonMatch">
            Password is different
        </p>
        <p *ngIf="authForm.errors.noConnection">
            Failed to sign up
        </p>
    </div>
    <div>
        <button class="ui button submit primary">Submit</button>
    </div>
</form>

<div>
    {{authForm.value | json}}
</div>
<div>
    {{authForm.errors | json}}
</div>